orders_process_api/src/main/app/orders_process_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

	<flow name="orders_process_apiFlow">
		<anypoint-mq:subscriber config-ref="Anypoint_MQ_Orders"
			destination="${shaklee_orders_input_queue}" doc:name="Anypoint MQ Orders Input" />
		<logger level="INFO" doc:name="Logger"
			message="Original Payload : #[message.payloadAs(String)]" />
		<dw:transform-message doc:name="shakelee_to_callidus_json"
			metadata:id="c8dbc716-dff2-41e3-afd2-be3714c7aee4">
			<dw:input-payload mimeType="application/json" />
			<dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	memberId: "US_" ++ payload.Connector.Transaction.PV_Distributor,
	orderId: "ORD_" ++ payload.Connector.Transaction.Order_ID,
	periodCode: payload.Connector.Transaction.Trans_Date as :string,
	countryCode: payload.Connector.Transaction.Country
}]]></dw:set-payload>
		</dw:transform-message>
		<logger level="INFO" doc:name="Logger"
			message="Payload After Transform : #[message.payloadAs(String)]" />
		<http:request config-ref="HTTP_Request_Callidus" path="${callidus_orders_path}"
			method="${callidus_orders_method}" doc:name="Invoke_Callidus_Orders_API">
			<http:request-builder>
				<http:header headerName="Content-Type" value="application/json" />
			</http:request-builder>
		</http:request>
		<logger level="INFO" doc:name="Logger"
			message="Response Payload from Callidus : #[message.payloadAs(String)]" />
		<anypoint-mq:publish config-ref="Anypoint_MQ_Orders"
			destination="${shaklee_orders_response_queue}" doc:name="Anypoint MQ Orders Response" />
        <exception-strategy ref="Catch_Exception_Strategy_Orders" doc:name="Reference Exception Strategy"/>
	</flow>

</mule>
